<launch>

  <!-- launch the kobuki simulation -->
  <include file="$(find ras_lab1_launch)/launch/kobuki_lab1.launch" />

  <node pkg="wall_following_controller" type="wall_following_controller_node" name="ras_wall_following_controller" clear_params="true"  />

  <node pkg="ras_lab1_motor_controller" type="ras_lab1_motor_controller_node" name="ras_cartesian_controller" clear_params="true"  />


</launch>
